@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
/*Resposive params*/
/*Devices*/
/*Mixin media querie*/
/*end responsive params*/
body {
  overflow-x: hidden;
  background-color: #24262d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Navbar*/
section.container {
  font-family: "Rubik", sans-serif;
  width: 100%;
  /*navbar style end*/
  /*start body section*/
}

@media screen and (min-width: 1900px) {
  section.container {
    padding: 0 300px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1899px) {
  section.container {
    padding: 0 100px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  section.container {
    padding: 0 80px;
  }
}

@media (max-width: 759px) {
  section.container {
    padding: 0 50px;
  }
}

@media (max-width: 479px) {
  section.container {
    padding: 0 50px;
  }
}

section.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*float btn testing*/
}

section.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.container nav ul li {
  padding: 10px;
  margin: 40px 20px;
  font-size: 1.1em;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  section.container nav ul li:nth-child(n + 2):nth-child(-n + 5) {
    display: none;
  }
}

@media (max-width: 759px) {
  section.container nav ul li:nth-child(n + 2):nth-child(-n + 5) {
    display: none;
  }
}

section.container nav ul li:first-child {
  margin-left: 0;
  padding-left: 0;
  font-size: 1.6em;
}

section.container nav ul li a {
  text-decoration: none;
  color: #aaacae;
}

section.container nav ul li a:hover {
  color: white;
}

section.container nav ul li a.logo {
  font-weight: bold;
  color: white;
}

section.container nav ul li a.logo span {
  color: #fdc521;
  font-size: 15pt;
}

section.container nav a.btn-menu {
  margin: 40px 20px;
  padding: 13px 30px;
  border-radius: 50px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-height: 15px;
  color: #3b3830;
  text-decoration: none;
  background-color: #fdcf49;
}

section.container nav a.btn-menu:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.container nav a.btn-menu:hover:nth-child(1) {
  padding: -1px;
}

section.container .body-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

@media (max-width: 759px) {
  section.container .body-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

section.container div.content-body {
  line-height: 3.7em;
}

section.container div.content-body h1.logo {
  font-size: 40pt;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 759px) {
  section.container div.content-body h1.logo {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1900px) {
  section.container div.content-body h1.logo {
    font-size: 60pt;
    line-height: 60pt;
  }
}

section.container div.content-body h1.logo span {
  color: #fdc521;
}

section.container div.content-body p.subtitle {
  font-size: 1.1em;
  color: #c8c8ca;
  margin-bottom: 30px;
}

section.container div.content-body .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 759px) {
  section.container div.content-body .buttons {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

section.container div.content-body .buttons a[href="appstore"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3a3949;
  line-height: 1.5em;
  font-weight: lighter;
  font-size: 0.8em;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
}

section.container div.content-body .buttons a[href="appstore"]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.container div.content-body .buttons a[href="appstore"]:hover:nth-child(1) {
  padding: -1px;
}

@media screen and (min-width: 1900px) {
  section.container div.content-body .buttons a[href="appstore"] {
    font-size: 1.1em;
  }
}

section.container div.content-body .buttons a[href="appstore"] span {
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (min-width: 1900px) {
  section.container div.content-body .buttons a[href="appstore"] span {
    font-size: 1.2em;
  }
}

section.container div.content-body .buttons a[href="playvideo"] {
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 1.1em;
}

section.container div.content-body .buttons a[href="playvideo"]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.container div.content-body .buttons a[href="playvideo"]:hover:nth-child(1) {
  padding: -1px;
}

@media screen and (min-width: 1900px) {
  section.container div.content-body .buttons a[href="playvideo"] {
    font-size: 1.2em;
  }
}

section.container i.fa-apple {
  font-size: 50px;
}

section.container .imgs-background {
  text-align: center;
  width: 400px;
}

@media screen and (min-width: 1900px) {
  section.container .imgs-background {
    width: 500px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  section.container .imgs-background {
    width: 40%;
  }
}

@media (max-width: 759px) {
  section.container .imgs-background {
    width: 70%;
  }
}

section.container .imgs-background img {
  width: 100%;
}

/*end body section*/
/*# sourceMappingURL=style.css.map */