//****font style
//one section - Home
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

$margin-nav: 40px 20px;

$padding-s: 50px;
$padding-m: 100px;
$padding-g: 150px;

$text-s: 0.8em;
$text-m: 0.9em;
$text-l: 1.1em;

/*Resposive params*/
/*Devices*/
$g-device: 1900px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;
$ss-device: 250px;

/*Mixin media querie*/
@mixin dimension($size) {
    @if $size == g {
        @media screen and (min-width: #{$g-device}) {
            @content;
        }
    } @else if $size == l {
        @media screen and (min-width: #{$l-device}) and (max-width: #{$g-device - 1}) {
            @content;
        }
    } @else if $size == m {
        @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
            @content;
        }
    } @else if $size == s {
        @media (max-width: #{$m-device - 1}) {
            @content;
        }
    } @else if $size == ss {
        @media (max-width: #{$s-device - 1}) {
            @content;
        }
    }
}
/*end responsive params*/

@mixin properties-button {
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}

@mixin btn-scale {
    &:hover {
        transform: scale(1.05);
        &:nth-child(1) {
            padding: -1px;
        }
    }
}

body {
    overflow-x: hidden;
    background-color: #24262d;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*Navbar*/
section.container {
    font-family: "Rubik", sans-serif;
    width: 100%;

    @include dimension(g) {
        padding: 0 100 * 3px;
    }

    @include dimension(l) {
        padding: 0 100px;
    }

    @include dimension(m) {
        padding: 0 80px;
    }

    @include dimension(s) {
        padding: 0 50px;
    }

    @include dimension(ss) {
        padding: 0 20px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ul.menu {
            display: flex;
            flex-direction: row;
            li {
                padding: 10px;
                margin: $margin-nav;
                font-size: $text-l;
                &:nth-child(n + 2):nth-child(-n + 5) {
                    @include dimension(m) {
                        display: none;
                    }

                    @include dimension(s) {
                        display: none;
                    }
                }

                &:first-child {
                    margin-left: 0;
                    padding-left: 0;
                    font-size: $text-l + 0.5em;
                }
                a {
                    text-decoration: none;
                    color: #aaacae;

                    &:hover {
                        color: white;
                    }

                    &.logo {
                        font-weight: bold;
                        color: white;
                        span {
                            color: #fdc521;
                            font-size: 15pt;
                        }
                    }
                }
            }
        }

        /*float btn testing*/
        a.btn-menu {
            padding: 13px 30px;
            border-radius: 50px;
            min-width: max-content;
            max-height: 15px;
            color: #3b3830;
            text-decoration: none;
            background-color: #fdcf49;

            @include btn-scale();

            @include dimension(m) {
                display: none;
            }

            @include dimension(s) {
                display: none;
            }
        }

        .btn-responsive {
            padding: 13px 30px;
            border-radius: 20px;
            min-width: max-content;
            max-height: 15px;
            color: #3b3830;
            text-decoration: none;
            background-color: #fdcf49;
            padding: 15px;
            display: none;
            transition: all 0.3s;

            @include dimension(m) {
                display: inline;
            }

            @include dimension(s) {
                display: inline;
            }

            div {
                width: 20px;
                height: 2px;
                background-color: #24262d;
                &:nth-child(1) {
                    margin-bottom: 5px;
                }
                &:nth-child(2) {
                    margin-bottom: 5px;
                }
            }
            .hidden-nav {
                display: none;
            }
        }

        .btn-responsive.active {
            padding: 20px;
            position: relative;
            transition: all 0.3s;
            div {
                width: 20px;
                height: 5px;
                &:nth-child(1) {
                    margin-bottom: 5px;
                    display: none;
                }
                &:nth-child(2) {
                    position: absolute;
                    margin-bottom: 5px;
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }

            nav {
                transition: all 0.5s;
                position: absolute;
                right: 5px;
                margin-top: 30px;
                ul {
                    padding: 25px;
                    border-radius: 10px;
                    background-color: #3f3d56;
                    li {
                        margin-bottom: 16px;
                        text-align: end;
                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    /*navbar style end*/

    /*start body section*/
    .body-img {
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        @include dimension(s) {
            flex-direction: column-reverse;
            align-items: center;
            padding: 0;
        }
    }

    div.content-body {
        line-height: 3.7em;
        h1.logo {
            font-size: 40pt;
            font-weight: bold;
            color: #fff;
            @include dimension(s) {
                margin-top: 50px;
            }

            @include dimension(g) {
                font-size: 60pt;
                line-height: 60pt;
            }
            span {
                color: #fdc521;
            }
        }
        p.subtitle {
            font-size: $text-l;
            color: #c8c8ca;
            margin-bottom: 30px;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;

            @include dimension(s) {
                width: 100%;
                justify-content: space-between;
            }

            a[href="appstore"] {
                @include btn-scale();
                display: flex;
                background-color: #3a3949;
                line-height: 1.5em;
                font-weight: lighter;
                font-size: $text-s;
                @include dimension(g) {
                    font-size: $text-l;
                }
                @include properties-button();
                span {
                    font-size: $text-l;
                    font-weight: bold;
                    @include dimension(g) {
                        font-size: $text-l + 0.1;
                    }
                }
            }

            a[href="playvideo"] {
                @include properties-button();
                margin-left: 10px;
                font-size: $text-l;
                @include btn-scale();
                @include dimension(g) {
                    font-size: $text-l + 0.1;
                }
            }
        }
    }

    i.fa-apple {
        font-size: 50px;
    }

    .imgs-background {
        text-align: center;
        width: 400px;
        @include dimension(g) {
            width: 500px;
        }

        @include dimension(m) {
            width: 40%;
        }

        @include dimension(s) {
            width: 70%;
        }
        img {
            width: 100%;
        }
    }
}
/*end body section*/

//finish section home
